body {
    background-color: white ;
}
h1 {
    text-align: center ;
    color: blue ;
    font-weight: bold ;
}
h2 {
    font-size: 1.2em;
    border-left-width: 0.5em;
    border-left-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-top: 2px;
    padding-left: 10px;
    margin-right: 7px;
    padding-bottom: 2px;
    background-color: white;
    border-color: #A0FFFF;
}
